/**general**/
body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	background-color: #F2F2F2;
}

a {
	color: grey;
}

hr {
	border: none;
	height: 4px;
	background-color: #BCBBBB;
}

/**custom classes**/
.logo-place {
	margin-top: 20px;
}

.name-font {
	font-weight: 200;
	font-size: 50px;
}

.fw-font {
	color: #BCBBBB;
}

.tab-padding {
	padding-right: 4em
}

.quote {
	font-family: Open+Sans;
	margin-top: 100px;
	margin-bottom: 150px;
	color: black;
}

.modal-body-font {
	color: black;
}

